@font-face {
    font-family: Roboto;
    font-weight: 300;
    src: url('../../static/fonts/Roboto-Light-webfont.woff');
}

@font-face {
    font-family: Roboto;
    font-weight: 500;
    src: url('../../static/fonts/Roboto-Regular-webfont.woff');
}

@font-face {
    font-family: Roboto;
    font-weight: 700;
    src: url('../../static/fonts/Roboto-Bold-webfont.woff');
}