{% extends 'base.html' %}

{% block title %} | All Quizzes {% endblock %}

{% block content %}
    <div class="card">
        <h2>All Quizzes</h2>
        <a role="button" href="{% url 'new_quiz' %}">Create a Quiz</a>
        <ul class="numbered-list">
            {% for quiz in quizzes %}
                <a href="{% url 'quiz_detail' quiz.id %}">
                    <li>
                        {{quiz.title}}
                    </li>
                </a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}