{% extends 'base.html' %}

{% block title %} | {{ quiz.title }} | Submission by {{user}} on {{date}} {% endblock %}

{% block content %}
    <div class="card">
        <h2>{{ quiz.title }}</h2>
        <h3>Submission by
            {% if submission.user %}
                {{ submission.user.first_name }}
                {{ submission.user.last_name }}
            {% else %}
                Anonymous User
            {% endif %}
            on {{ submission.date_created }}</h3>
        <ol>
            {% for answer in answers %}
                <li>
                    <label>{{ answer.question.desc }}</label>
                    <p><b>{{ answer.body }}</b></p>
                </li>
            {% endfor %}
        </ol>
        <a role="button" href="{% url 'submissions' quiz.id %}">Back to Submissions</a>
    </div>
{% endblock %}