{% load static %}
<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quizzy{% block title %}{% endblock %}</title>
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  <script src="{% static '/javascript/header.js' %}" defer></script>
  {% block script %}{% endblock %}
  <link rel='icon' href="{% static 'favicon.ico' %}">
  <link rel="stylesheet" href="{% static '/stylesheets/dist/main.css' %}">
</head>
<body>
    {% block header %}
        {% include './partials/header.html' %}
    {% endblock %}
    <div class="main">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
